{{ define "home" }}

<!DOCTYPE html>
<html lang="en">
  {{ template "head" .PageTitle }}

  <body>
    {{ template "header" .PageTitle }}

    <main>
      Welcome to Nomad Coin 1.0!
    </main>

    {{ template "footer" }}
  </body>
</html>

{{ end }}
