{{ define "new_block" }}

<!DOCTYPE html>
<html lang="en">
  {{ template "head" .PageTitle }}
  <body>
    {{ template "header" .PageTitle }}

    <main>
      <form method="POST" action="/blocks">
        <input
          type="text"
          name="blockData"
          placeholder="Data for your block"
          required
        />

        <button>Add Block</button>
      </form>
    </main>

    {{ template "footer" }}
  </body>
</html>

{{ end }}
