{{ define "new_block" }}
<!DOCTYPE html>
<html lang="en">
  {{ template "head" .PageTitle }}
  <body>
    {{ template "header" .PageTitle }}

    <main>
      <form action="">
        <input
          type="text"
          name="data"
          id="data"
          placeholder="Data for your block"
          required
        />
        <input type="submit" value="" />
      </form>
    </main>

    {{ template "footer" }}
  </body>
</html>
{{ end }}
