<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Nomad Coin</title>
  </head>

  <body>
    <h1>{{.PageTitle}}</h1>

    {{range $index, $block := .Blocks}}
    <div>
      <ul>
        <li>Block number: {{ add $index 1 }}</li>
        <li>Data: {{ $block.Data }}</li>
        <li>Previous hash: {{ $block.PreviousHash }}</li>
        <li>Hash: {{ $block.Hash }}</li>
      </ul>
    </div>
    {{ end }}
  </body>
</html>
