{{ define "header" }}

<header>
  <nav>
    <a href="/"><h1>Nomad Coin</h1></a>

    <ul>
      <li>
        <a href="/">Home</a>
      </li>

      <li>
        <a href="/blocks">Blocks</a>
      </li>

      <li>
        <a href="/blocks/mine">Mine Block</a>
      </li>
    </ul>
  </nav>

  <h1>{{ . }}</h1>
</header>

{{ end }}
